{{> header}}
<!-- Details Dashboard  -->
<section id="viewMydestinations">
    <h3>Your destinations</h3>   

    {{#each destinations}}
    <div class="destination-ticket">
        <div class="destination-left">
            <img src="{{ imgUrl }}"
                alt="">
        </div>
        {
        <div class="destination-right">
            <div>
                <h3>{{this.destination}}</h3><span>{{this.suration}}</span>
            </div>
            <div>
                to {{this.city}}
            </div>
            <p>{{this.duration}} days </p>
            <a href="#/delete/{{ id }}" class="remove">REMOVE</a>
            <a href="#/details/{{ id }}" class="details">Details</a>
        </div>
    </div>
    {{/each}}

</section>

{{> footer}}